@charset "utf-8";
.Head1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: auto;
    position: relative;
}
.background1 {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 60px;
    z-index: 2;
}
.BUTTONS {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    margin-top: 10px;
    z-index: 2;
}
.BACK {
    position: fixed;
    display: block;
    margin-left: -1039px;
    margin-right: auto;
    margin-top: -972px;
}
.small {
    display: block;
    position: relative;
    z-index: 1;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}
.Video {
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2%;
    position: relative;
}
.quit {
}
